<!-- <tr id="<%#= dom_id project %>"> -->
  <td><%= project.name %></td>
  <td><%= project.description %></td>
  <td><%= link_to 'Show', project %></td>
  <td><%= link_to 'Edit', edit_project_path(project), "data-controller": "turbo"  %></td>
  <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<!-- </tr> -->
